<launch>
    <!-- Arguments -->
    <arg name="topic" default="/livox/lidar"/>
    <arg name="imu_topic" default="/livox/imu"/>

    <!-- Load parameters -->
    <rosparam command="load" file="$(find jh_localization)/config/localization.yaml" />

    <!-- Localization Node -->
    <node pkg="jh_localization" type="localization" name="localization" output="screen">
        <param name="topic" type="string" value="$(arg topic)"/>
        <param name="imu_topic" type="string" value="$(arg imu_topic)"/>
        <param name="feature_size" type="double" value="0.05"/>
        <param name="ds_ratio" type="double" value="0.5"/>
    </node>
</launch>